################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GAPInsuranceApp/.vs/GAPInsuranceApp/v16/Server/sqlite3/db.lock
